<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BusinessLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BusinessLogic.Properties.Settings>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="city" serializeAs="String">
                <value />
            </setting>
            <setting name="state" serializeAs="String">
                <value />
            </setting>
            <setting name="country" serializeAs="String">
                <value />
            </setting>
            <setting name="address" serializeAs="String">
                <value />
            </setting>
            <setting name="sponsor" serializeAs="String">
                <value />
            </setting>
        </BusinessLogic.Properties.Settings>
    </applicationSettings>
</configuration>